body {
    padding: 0;
    margin: 0;
    background-color: #6c6d6cd2;
    color: black;
    font-size: 25px;
}

/* .container {
    padding: 10;
    margin:0;
} */

header {
    background: #fd3636;
    padding: 10;
    margin: 10;   
}

h1 {
    padding: 0;
    color:white;
    position: relative;
    left: 43%
}

h2 {
    position: relative;
    left: 40%
}

/* .container {
    width: 1024px;
    margin: 0 auto;
} */

#main-bio {
    float: left
    width: 85%;
}

h3 {
    position: relative;
    left: 10%;
    font-size: 24px;}

#contact-info {
    position: relative;
    left: 32%;
    line-height: 35px;
    color
}

/* #contact-info.link {
    color: #d21034;
} */

#bio-image {
    float: left;
    margin-right: 50px;
}

/* #bio-name {
    position: absolute;
    top: 150px;
    left: 30px;
} */

h4 {
    font-size: 24px;
    position: relative;
    left: 46%
}

.proj1, .proj2 {
    display: inline-block;
}

.proj1 {
    position: relative;
    left: 30%
}

.proj2 {
    position: relative;
    left: 42%
}